* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    position: relative;
}

.navbar-right {
    margin-right: 15px;
}

#main, .detail {
    display: block;
    margin: 10px auto;
}

.title {
    text-align: center;
    font-size: 22px;
    margin: 15px;
}

#editor {
    height: 200px;
    text-align: center;
    max-width: 500px;
    margin: 10px auto;
    padding-left: 10px;
    padding-right: 10px;
}


textarea {
    width: 500px;
    height: 150px;
    padding: 12px;
    resize: none;
    border-radius: 6px;
    border: 1px solid rgb(219, 217, 217);
    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, .1);
    box-shadow: 0 2px 3px rgba(0, 0, 0, .1);
}

input {
    width: 300px;
    line-height: 20px;
    border-radius: 6px;
    border: 1px solid rgb(219, 217, 217);
    padding: 5px;
    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, .1);
    box-shadow: 0 2px 3px rgba(0, 0, 0, .1);
}

.wrap {
    max-width: 500px;
    margin: 0 auto 30px;
    border: 1px rgba(71, 58, 58, 0.9) solid;
    border-radius: 10px;
    box-shadow: 5px 5px 16px #666363;
}

.segment-title {
    color: rgb(46, 44, 44);
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px 20px;
    border-bottom: 1px #999 solid;
    font-size: 18px;
    font-weight: lighter;
}

.finished img{
    width: 18px;
    height: 20px;
    padding-bottom: 2.5px;
}

button {
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 3px;
    padding: 5px 10px;
}

textarea:hover {
    border: 1px solid #5baee6;
}

input:focus {
    border-radius: 6px;
    border: 1px solid #4f7ccf;

    outline: noneï¼›
}

.task-list .item button {
    display: none;
    font-size: 80%;
    background: #fff;
}

.task-list .item:hover {
    background: rgba(0, 0, 0, .03);
}

.task-list .item:hover button {
    display: inline-block;
}

.task-list .item > * {
    padding: 5px;
    display: inline-block;
    line-height: 1.2;
    vertical-align: middle;
}

.task-list .item {
    padding: 10px;
}

.task-list .item .detail {
    display: block;
    font-size: 80%;
    color: #666;
}
